In [ ]:
/* Create database */

IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'cenipadl')
    BEGIN
        CREATE DATABASE [cenipadl]
    END
GO

USE [cenipadl]
GO

In [4]:
/* Create occurrence */
USE [cenipadl]
GO

IF NOT EXISTS(SELECT * FROM sysobjects WHERE name = 'cenipadl')
    BEGIN
        CREATE TABLE [occurrence] (
            [id]                    UNIQUEIDENTIFIER   NOT NULL,
            [rating]                VARCHAR(10)        NOT NULL,
            [latitude]              DECIMAL                NULL,
            [longitude]             DECIMAL                NULL,
            [city]                  NVARCHAR(160)      NOT NULL,
            [uf]                    VARCHAR(2)         NOT NULL,
            [country]               NVARCHAR(160)      NOT NULL,
            [airfield]              NVARCHAR(160)      NOT NULL,
            [date]                   DATETIME          NOT NULL,
            [is_aircraft_ok]        NVARCHAR(10)       NOT NULL,
            [investigation_Status]  NVARCHAR(20)       NOT NULL,
            [report_id]             NVARCHAR(30)       NOT NULL,
            [report_publish]        NVARCHAR(30)           NULL,
            [publish_date]          DATETIME               NULL,
            [remembrances]          INT                NOT NULL,
            [aircraft_involved]     INT                NOT NULL,
            [runway_exit]           NVARCHAR(10)       NOT NULL
        )
    END
GO

ALTER TABLE [cenipadl].[occurrence]
    ADD CONSTRAINT [PK_ocurrence] PRIMARY KEY ([id])
GO

: Msg 2714, Level 16, State 6, Line 7
There is already an object named 'occurrence' in the database.

: Msg 4902, Level 16, State 1, Line 30
Cannot find the object "cenipadl.occurrence" because it does not exist or you do not have permissions.