In [1]:
/* Delete table occurrence */

USE [cenipadl]
GO

DROP TABLE [occurrence]
GO